{{ define "header" }}
<header>
  <div class="wrapper">
    <h1>
      <a href="/">
        Ressy
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/recipes">Recipes</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{{ end }}
