<!doctype html>
<html>
  <head>
    {{ template "head" . }}
  </head>
  <body>
    {{ template "header" . }}
    <main>
      <div class="wrapper">
        <nav class="flexbetween">
          <h2>Recipes</h2>
          <a href="/recipe-search">Advanced Search</a>
        </nav>
        <form class="searchform">
          <input class="searchbar" name="name" placeholder="Search..." value=""/>
        </form>
        <div class="card-deck">
          {{ range $recipe := .Data}}
            {{ template "recipe-card" $recipe }}
          {{ end }}
        </div>
      </div>
    </main>
    {{ template "footer" . }}
  </body>
</html>
