<div class="card">
  <a href="{{ .ID }}" class="nounderline">
    <img class="responsive" src="{{ .Image }}" />
    <h3>{{ .Name }}</h3>
  </a>
  <p class="card-body">{{ .Description }}</p>
  <p>Prep time {{ .PrepTime }} &mdash; Cook time {{ .CookTime }}</p>
</div>
