h1,h2,h3,h4,h5,h6,p {
	margin: 0.5em 0;
	transition: text-shadow 0.25s ease;
}

body {
	background-color: #69b54e;
	color: #fff;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	font-family: "Arial", sans-serif;
	font-size: 110%;
	line-height: 130%;
}

header > .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	margin: 0;
}

header nav ul {
	list-style-type: none;
	display: flex;
}

header nav ul li {
	margin: 0 0 0 16px;
	align-self: center;
}


a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main a {
	color: #fff;
}

header a
{
	color: #fff;
	font-weight: bold;
}

main {
	background-color: #111;
}

.wrapper {
	margin: 0 auto;
	padding: 16px;
	width: calc(100% - 32px);
	max-width: 1024px;
}

.responsive {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.card-deck {
	display: grid;
	grid-gap: 16px;
}

.card {
	display: flex;
	width: calc(100% - 32px);
	flex-direction: column;
	justify-content: space-between;
	background-color: #222;
	border-radius: 4px;
	padding: 16px;
}

.card-body {
	flex-grow: 1;
}

a.nounderline:hover {
	text-decoration: none;
}

.flexbetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchform-mini {
	margin: 16px 0;
}

.hero {
	background-image: url("/assets/images/cuttingboard.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.searchform {
	width: 100%;
	min-height: calc(100vh - 112px);
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchform h1,
.searchform p,
.searchform input {
	box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.searchform h1,
.searchform p{
	background-color: #69b54e;
	padding: 16px;
}

.searchform input {
	margin: 16px 0;
}

.searchform input[type="submit"] {
	padding: 8px 16px;
}

.searchbar {
	width: calc(100% - 16px);
	padding: 8px;
	margin:0;
	border:0;
	border-radius:4px;
	font-size: 120%;
}

.recipe-image {
	max-width: 600px;
	display: block;
	background-color: #222;
	margin: 0 auto;
}

.recipe ul,
.recipe ol {
	margin: 0;
	padding: 0 20px;
}

.recipe ol li {
	margin: 12px 0;
}

.recipe {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.recipe section {
	grid-column: span 3;
}

.result-count {
	text-align: center;
	font-weight: bold;
}

/* paginator */

.paginator {
	margin: 16px auto;
	text-align: center;
}

.paginator-button {
	width: 16px;
}

.brian {
	background-color: #875fd7;
	padding: 4px;
}

/* editor */

.edit {
	background-color: #222;
	color: #fff;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	padding: 8px;
	width: calc(100% - 16px);
}

.edit-name {
	margin: 8px 0;
	padding: 8px;
	font-weight: bold;
	width: calc(100% - 16px);
	text-align: center;
}

.edit-desc {
}

.edit-entry {
	width: 100%;
	padding: 4px;
	margin: 4px 0;
}

.edit-file {
	margin: 8px;
	background-color: #222;
	color: #fff;
	border: 0;
}

.recipe-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.button {
	padding: 8px;
	margin: 8px;
	background-color: #69b54e;
	color: #fff;
	transition: background-color 0.1s ease;
	display: inline-block;
	width: calc(100% - 16px);
	text-align: center;
	font-size: 100%;
	border: 0;
}
.button:hover {
	background-color: #529739;
}

input.button {
	width: 100%;
}

/* desktop responsive */
@media only screen and (min-width: 600px) {
	.card-deck {
		grid-template-columns: repeat(3, 1fr);
	}
	.recipe-image {
		width: calc(100% - 16px);
		border: 8px solid #222;
		border-radius: 4px;
	}
	.recipe #ingredients {
		grid-column: span 1;
	}
	.recipe #instructions {
		grid-column: span 2;
	}
	.recipe::after {
		content: "";
		clear: both;
		display: table;
	}
	.recipe-header {
		flex-direction: row;
	}
	.recipe-header .button {
		width: auto;
	}
	.edit-name {
		text-align: left;
	}
}

/* utility classes */
.textshadow {
	text-shadow:
	1px 1px rgba(0, 0, 0, 0.5);
}

.textshadow-small {
	text-shadow:
	1px 1px rgba(0, 0, 0, 0.5);
}
